---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CarFast - О нас" stylesheet="about" script="about">
	<div class="AboutUs">
        <img class='AboutImg' src="about.jpg">
        <div class="AboutBuffer"></div>
        <h2>Мы начинали как небольшой автосалон в Нижнем Новгороде​, но выросли в большую и сплоченную команду профессионалов</h2>
    </div>
    <div class="Reviews">
        <div class="ReviewsBuffer"></div>
        <h2>Наши отзывы</h2>
        <div class="FlexReviews">
            <div class="Review">
                <img class="ReviewAvatar" src="customer11.png">
                <div class="ReviewDecor"></div>
                <div class="ReviewContent">
                    <p>Виктор</p>
                    <p class="ReviewQuote">Отличный сервис и комплектующие</p>
                    <p>9/10</p>
                </div>
            </div>
            <div class="Review">
                <img class="ReviewAvatar" src="customer2.png">
                <div class="ReviewDecor"></div>
                <div class="ReviewContent">
                    <p>Антон</p>
                    <p class="ReviewQuote">Все очень поравилось, теперь я постоянный клиент!​​</p>
                    <p>10/10</p>
                </div>
            </div>
            <div class="Review">
                <img class="ReviewAvatar" src="customer2.png">
                <div class="ReviewDecor"></div>
                <div class="ReviewContent">
                    <p>Ксения</p>
                    <p class="ReviewQuote">Крайне быстро и четко сработано, осталась довольна!</p>
                    <p>8/10</p>
                </div>
            </div>
            <div class="Review">
                <img class="ReviewAvatar" src="customer33.png">
                <div class="ReviewDecor"></div>
                <div class="ReviewContent">
                    <p>Николай​</p>
                    <p class="ReviewQuote">Сервис на высшем уровне</p>
                    <p>9/10</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Services">
        <div class="ServicesText">
            <h2>Убедитесь сами!</h2>
            <a class='ServicesButton' href="services">Услуги</a>
        </div>
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=FhfSg_dZUy3OGtBn" title="О компании" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</Layout>