 <footer>
    <div>
        <h4>CarFast, 2026</h4>
    </div>
    <div id="FooterSocials">
        <a class="SocialLink" href="#">
            <img class="SocialIcon" src="telegram.png">
        </a>
        <a class="SocialLink" href="#">
            <img class="SocialIcon" src="youtube.png">
        </a>
        <a class="SocialLink" href="#">
            <img class="SocialIcon" src="vk.png">
        </a>
    </div>
    <div id="FooterContacts">
        <p class="ContactsPar">Все права защищенны</p>
        <img id="FooterEnvelope" src="envelope.png">
        <a id='FooterMail' href="#">carfast@mail.ru</a>
        <p class="ContactsPar">+1 (234) 567-8910</p>
    </div>
</footer>