 <header>
    <a id="HeaderImgLink" href="/">
        <img id="HeaderImg" src="/carfast.png">
    </a>
    <p id="Schedule">График работы: 9:00 - 19:00, Пн-Пт</p>
    <nav>
        <a class="Navigation" href="/">Главная</a>
        <a class="Navigation" href="about">О нас</a>
        <a class="Navigation" href="services">Услуги</a>
        <a id="Theme" class="Navigation" href="#">
            <img id="ThemeIcon" src="/moon.png">
        </a>
    </nav>
</header>