:root {
    /* Переменные для светлой темы (по умолчанию) */
    --font-color: #000000;
    --bg-color: #ffffff;
    --color1: #adcce9;
    --color2: #E9F2FA;
    --footer-color: #333333;
    --filter: brightness(1);
    }

    /* Переменные для темной темы */
    [data-theme="dark"] {
    --font-color: #ffffffda;
    --bg-color: #161616;
    --color1: #161331;
    --color2: #29254e;
    --footer-color: #000000;
    --filter: brightness(0.75);
    }

    body{
        font-family: 'Arial', 'Verdana', sans-serif;
        background-color: var(--bg-color);
        color: var(--font-color);
        transition: all 0.3s ease;
    }

    h2{
        font-size: calc(0.2em + 3vw);
    }

    h3{
        font-size: calc(0.2em + 3vw);
    }

    p{
        font-size: calc(0.2em + 1vw);
    }

    h4{
        font-size: calc(0.2em + 1vw);
    }

    li{
        font-size: calc(0.2em + 1vw);
    }

    a{
        text-decoration: none;
        font-size: calc(0.2em + 1vw);
    }

    label {
        font-size: calc(0.3em + 1vw);
    }

    input {
        font-size: calc(0.1em + 1vw);
    }

    img {
        filter: var(--filter);
    }

    a:hover {
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }
header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#Schedule{
    margin: auto;
}

nav{
    display: flex;
    width: 22%;
}

nav a{
    margin: auto 3%;
    color: var(--font-color);
}

nav a img {
    filter: brightness(1);
    width: calc(1em + 3vw);
    display: inline;
}

#HeaderImg{
    filter: brightness(1.5);
    width: 60%;
    max-width: 100%;
    max-height: 100%;
}

#HeaderImgLink{
    width: 20%;
    margin: auto 2%;
}

.Origin, .AboutUs, .Reviews, .Services {
    background-color: var(--color2);
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%; 
    margin-left: auto;
    margin-right: auto;
}

.Origin{
    background-color: var(--color1);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.OriginText{
    background-color: var(--bg-color);
    text-align: center;
    box-sizing: border-box;
    padding: 5%;
}

.AboutUs{
    text-align: center;
    padding-bottom: 3%;
}

.AboutImg{
    width: 60%;
    margin: 5% auto;
}

.AboutBuffer{
    z-index: 10;
    background-color: var(--color1);
    width: 116%;
    height: 4vw;
    margin-left: -8%;
}

.Reviews{
    margin-top: -3%;
}

.Reviews h2{
    text-align: center;
}

.FlexReviews{
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Review{
    background-color: var(--color2);
    width: 50%;
    padding-bottom: 5%;
}

.ReviewsBuffer{
    z-index: 10;
    background-color: var(--color1);
    width: 116%;
    height: 4vw;
    margin-left: -8%;
}

.ReviewAvatar{
    display: inline-block;
    width: 20%;
    border-radius: 1000px;
    margin: 5%;
}

.ReviewAvatar:hover {
    transition: transform 0.3s ease;
    transform: scale(1.15);
}


.ReviewDecor{
    background-color: var(--color3);
    display: inline-block;
    width: 1%;
    height: 85%;
    margin-right: 2%;
}

.ReviewContent{
    display: inline-block;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.ReviewQuote{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-style: italic;
}

.Services{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding-bottom: 4%;
}

.ServicesText{
    display: inline-block;
    margin: auto;
    text-align: center;
}

.ServicesButton{
    background-color: #478AC9;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    padding: 7% 10%;
    margin-top: -5%;
}

iframe{
    display: inline-block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

footer{
    color: #FFFFFF;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
}

#FooterPar{
    display: block;
    width: 90%;
}

input{
    width: 90%;
    font-size: calc(0.1em + 1vw);
}

button{
    width: 30%;
    font-size: calc(0.1em + 1vw);
    padding: auto 5%;
}

img.SocialIcon{
    width: 20%;
    min-width: 20px;
}

a.SocialLink{
    padding: 1%;
}

.ContactsPar{
    margin-bottom: 2%;
    margin-top: 2%;
}

#FooterSocials{
    width: 25%;
    text-align: center;
}

#FooterContacts{
    width: 25%;
    margin-right: -5%;
    text-align: center;
}

#FooterEnvelope{
    width: 10%;
    min-width: 10px;
}

#FooterMail{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}